
body {
	background-color: #ff99bb;

	font-family: sans-serif;
	
}
  background-image: url("https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAQ0AAAAJDU2MGRkNzEyLWYyNzUtNDE1ZC1hOWEzLWJkZTIyMmNmMWNmNg.png");
    background-repeat: repeat-y;
    background-color: #cce0f1;
}