body {
	background-image: url("https://image.shutterstock.com/z/stock-photo-healthy-food-background-studio-photo-of-different-fruits-and-vegetables-on-wooden-table-233040343.jpg"); ;
	font-family: sans-serif;}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #555;

}
.navbar {

}
.navbar ul {
	list-style-type:none;
	overflow: hidden;
	text-align:center;
	background: lightgrey;
}
.navbar li{ 
font-family: "verdana";
display: inline-block;
font-size:18px;
padding:15px;

}