body {
	background-image: url("http://wallpapercave.com/wp/WV8QiL1.jpg"); ;

	font-family: sans-serif;}
.navbar {

}
.navbar ul {
	list-style-type:none;
	position:fixed;
	text-align:center;
	background: #FAEBD7;
}
.navbar li
{ font-family: "verdana";
float:left;
font-size:18px;
padding:15px;

}