<!DOCTYPE html>
<html>
<head>
<center><img src="https://www.freelogoservices.com/api/main/ph/zjHl2lgef9cYrQL0JFa7kzbw2vuCpRBJnx3E0Dp9OXdE9g5shnN1i...Bv9ettdV9dsBUGw0pY"></center>
<h1><center><u> About Us </u></center></h1>
<title>{{title}}</title>
<link rel="stylesheet" href="resources/about.css">
<div class="navbar">
<ul>
<li><a href="/about">About</a></li>
<li><a href="/recommend">Recommendations</a></li>
<li><a href="/graph">Graph</a></li>
<li><a href="/history">History</a></li>
</ul>
</div>
<br>
<h1>
FreshFit is a site developed by current college freshmen, to help other freshman avoid the infamous freshmen fifteen and avoid the weight gain, so that they can live a healthier and fresher lifestyle.

<a href = "/"> </a>

</br>
</h1>

<h1><center><u> Meet the Team </u></center></h1> 

<h2> Mali Nichols<h2/>
<h3>Mali is from Nebraska, and she will be attending Georgetown University. She enjoys track and field and will be studying Science and Technology in International Affairs.</h3>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Kenya.svg/255px-Flag_of_Kenya.svg.png">

<h2>Shondace Thomas</h2>
<h3>Shondace is from Guyana, and she will be attending Howard University. She enjoys swimming and track and will be studying Computer Science in the fall.</h3>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Flag_of_Guyana.svg/255px-Flag_of_Guyana.svg.png">

<h2>Marley Nembhard</h2>
<h3>Marley is from New York, and he will be attending Hampton University(The Real HU). He enjoys playing basketball and reading and plans on majoring in Computer Science in the fall.</h3>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Flag_of_Trinidad_and_Tobago.svg/255px-Flag_of_Trinidad_and_Tobago.svg.png">
</head>
</html>