<!DOCTYPE html>
<html>
<head>
<h1><center>Welcome to Fresh Fit</center></h1>
<link rel="stylesheet" href="resources/graph.css">
<style>

table {
	font-family: Times, sans-serif;\
	 border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Days</th>
    <th>Calories Taken</th>
  </tr>
  <tr>
    <td>Monday</td>
    <td></td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td></td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td></td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td></td>
  </tr>
  <tr>
    <td>Friday</td>
    <td></td>
  </tr>
</table>
</head>
</html>

