<!DOCTYPE html>
<html>
<head>
<center><img src="https://www.freelogoservices.com/api/main/ph/zjHl2lgef9cYrQL0JFa7kzbw2vuCpRBJnRrI3jp9OXdE9g5shnN1i...Bv9ettdV9dsBUGw0pY"></center>

<h1><center><u>Recommendations</u></center></h1>
<div class="navbar">
<ul>
<li><a href="/about">About</a></li>
<li><a href="/recommend">Recommendations</a></li>
<li><a href="/">Home</a></li>

</ul>
</div>
<title>{{title}}</title>
<link rel="stylesheet" href="resources/recommend.css">
<link rel="stylesheet" href="resources/navbar.css">




</head>
</html>