<!DOCTYPE html>
<html>
<head>
<h1><b><font face="verdana"><center>FRESH FIT</center></font></b></h1>

<!-- <br>
	<input type=button value= Home Page></input>
	<a href=" ">
	<input type=button value= About></input>
	<input type=button value= Recommendations></input>

</br> -->
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body>
</br>
<font size="6">
<center>
<input type=button value= Login></input>
<a href='/about'><button type="button" id="about">About</button></a>

<a href='/recommend'><button type="button" id="recommendations">Recommendations</button></a>

<a href='/graph'><button type="button" id="Graph">Graph</button></a>

<a href='/history'><button type="button" id="History">History</button></a>
<form method="POST">
Food Log
<br>
What did you eat for breakfast? 
<input name="form_breakfast">
<br>
<input name="brkfst_calories">
What did you eat for lunch?
<input name="form_lunch">
<br>
<input name="lunch_calories">
What did you eat for dinner?
<input name="form_dinner">
<br>
<input name="dinner_calories">
<input type="submit">
</form>

</center>
</font>
</body>

</html>