<!DOCTYPE html>
<html>
<head>
<h1>FRESH FIT</h1>
<input type=button value= Login></input>
<!-- <br>
	<input type=button value= Home Page></input>
	<a href=" ">
	<input type=button value= About></input>
	<input type=button value= Recommendations></input>

</br> -->
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body>
</br>
<a href='/about'><button type="button" id="about">About</button></a>

<a href='/recommend'><button type="button" id="recommendations">Recommendations</button></a>

<a href='/Graph'><button type="button" id="Graph">Graph</button></a>

<a href='/History'><button type="button" id="History">History</button></a>

</body>

</html>